$color1: #030303;
$color2: #ffffff;
$color3: #e5e5e5;
$color4: #710707;
$color5: #9d8665;
$color6: #caaa7d;
$color7: #24809e;

$font-family: 'Roboto', 'Verdana', sans-serif;

$font-size-h1: 5.6rem;
$font-size-h2: 4.6rem;
$font-size-h3: 2.8rem;
$font-size-h4: 2rem;
$font-size-h5: 1.8rem;

$font-size-x: 1.8rem;
$font-size-m: 1.6rem;
$font-size-s: 1.4rem;
$font-size-xs: 1.2rem;
$font-size-ms: 1rem;
$font-size-ss: 0.8rem;

$font-weight-8: 800;
$font-weight-7: 700;
$font-weight-6: 600;
$font-weight-5: 500;
$font-weight-4: 400;
$font-weight-3: 300;
$font-weight-2: 200;
$font-weight-1: 200;

$desktop-x: 1920px;
$desktop-m: 1440px;
$desktop-s: 1280px;

$tablet-x: 1024px;
$tablet-m: 991px;
$tablet-s: 767px;

$mobile-x: 479px;
$mobile-m: 375px;
$mobile-s: 320px;
